# Python
**/__pycache__
**/venv

# mpc_tools
mpc_tools/profiling/*
!mpc_tools/profiling/*.md
!mpc_tools/profiling/*.sh

# mpc_solver
mpc_solver/include/mpc_solver/*
!mpc_solver/include/mpc_solver/core

mpc_solver/src/*
!mpc_solver/src/core
