<?xml version="1.0"?>

<launch>
  <!-- Map settings -->
  <arg name="map_file" default="$(find occupancygrid_creator)/config/map_hovergames_hmpc.yaml"/>

  <!-- ROS parameter settings -->
  <rosparam command="load" file="$(arg map_file)"/>

  <!-- Start occupancygrid_creator node -->
  <node pkg="occupancygrid_creator" type="occupancygrid_creator_node" name="occupancygrid_creator_node" cwd="node" respawn="false" output="screen"/>
</launch>
